{:deps
 {org.clojure/clojure         {:mvn/version "1.10.1"}
  org.clojure/spec.alpha      {:mvn/version "0.2.176"}
  irresponsible/tentacles     {:mvn/version "0.6.4"}

  clojure.data.json           {:git/url "https://github.com/clojure/data.json"
                               :sha "f1bf4e264749b51c64f4692da57eb89008758097"}
  clojure.tools.cli           {:git/url "https://github.com/clojure/tools.cli"
                               :sha "a65f8babd68cc43d6a657281dcc7214932ae4a0e"}}
 :aliases
 {:test    {:extra-deps {lambdaisland/kaocha {:git/url "https://github.com/lambdaisland/kaocha"
                                              :sha "49eacd2d68846108f11114131a04d688ba7ba492"}}}

  ; This’d be clearer were it named `main` but I like it like this because when invoked in the shell
  ; it looks more like using the compiled/packaged tool.
  :ghot    {:main-opts ["-m" "ghot.io.cli.main"]}}}
